<!-- <p>create-transaction works!</p> -->
<div class="main-div">
    <mat-card class="example-card">
        
        <mat-card-header>
            <!-- <div class="section top-section grade-3"> -->
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="pb-4">
                <div fxLayout="col" fxFlex="50" class="heading"><h3>TRANSACTION RECEIPT</h3></div>
                <div fxLayout="col" fxFlex="50" class="heading" fxLayoutAlign="end">
                    <img class="header-image" src="/assets/images/stark-logo.png">
                </div>
            </div>  
            <!-- </div> -->
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="mt-4">
                <div fxLayout="col" fxFlex="70" class="heading">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">
                        <div fxLayout="col" fxFlex="50" class="heading">DATE</div>
                        <div fxLayout="col" fxFlex="50" class="heading">TRANSACTION ID</div>
                    </div>
                </div>
                <div fxLayout="col" fxFlex="30" class="heading"></div>
            </div>  
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="mt-2 pb-4">
                <div fxLayout="col" fxFlex="70" class="heading">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">
                        <div fxLayout="col" fxFlex="50" class="heading">
                            {{transaction?.createdAt ? (transaction.createdAt | date : 'MMM d, y, h:mm a') : 'No date'}} 
                        </div>
                        <div fxLayout="col" fxFlex="50" class="heading">{{ transaction ? transaction.id : '' }}</div>
                    </div>
                </div>
                <div fxLayout="col" fxFlex="30" class="heading"></div>
            </div>  
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="mt-4">
                <div fxLayout="col" fxFlex="70" class="heading">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">{{ customer ? customer.customer_name : '' }}</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="mt-2 pb-4">
                <div fxLayout="col" fxFlex="70">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">{{ customer ? customer.customer_email : '' }}</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="mt-2 pb-4">
                <div fxLayout="col" fxFlex="70" class="heading">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">{{ customer ? customer.customer_phone : '' }}</div>
                </div>
            </div>
            <div id="imageContainer">
                <img src="https://uploads-ssl.webflow.com/5e89c00abebe7dcfb5042125/5e89c00a0b4db15efaa88834_wave-bottom-haze.svg" id="" class="wave-bottom">
            </div>
        </mat-card-header>
        
        <mat-card-content class="mt-4">
            <div fxLayout="row" fxLayoutWrap="wrap" class="transaction-heading">
               PAYMENT METHOD
            </div>
            <hr>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxLayout="col" fxFlex="50" class="heading">Masked Number </div>
                <div fxLayout="col" fxFlex="50" class="data">{{ transaction ? transaction.creditCard.maskedNumber : '' }}</div>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap" class="transaction-heading mt-4">
                TRANSACTION DETAILS
             </div>
             <hr>
             <div fxLayout="row" fxLayoutWrap="wrap">
                 <div fxLayout="col" fxFlex="50" class="heading">Transaction ID </div>
                 <div fxLayout="col" fxFlex="50" class="data">{{ transaction ? transaction.id : '' }}</div>
             </div>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxLayout="col" fxFlex="50" class="heading">Amount </div>
                <div fxLayout="col" fxFlex="50" class="data">{{ transaction ? transaction.amount : '' }}</div>
            </div>
            
            <div fxLayout="row" fxLayoutWrap="wrap">
                <a (click)="view_invoice()"><u>View Invoice</u></a>
            </div>
        </mat-card-content>
        <!-- <hr> -->
        <mat-card-actions>
            <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100" class="pt-2 pb-1">
                <div fxLayout="col" fxFlex="55" fxLayoutAlign="end">
                    <img class="footer-image" src="/assets/images/stark-logo.png" style="width:20%">
                </div>
                <div fxLayout="col" fxFlex="45" fxLayoutAlign="end" class="mr-4">
                    <a class="mr-2" style="color: white" target="_blank" href="https://www.starkflow.co/">starkflow.co</a>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<div class="bottom-div" align="center" *ngIf="transaction?.status == 'Pending'">
    <button mat-button class="pay-button" (click)="pay()">PAY</button>
</div>
